#header-nav{
	background-color:#800080;
	min-height: 40px;
	
	
	
}
#mew
{
	font-color:black;
	text-align: center;
	font-family: sans-serif;
	font-size: 100px;

}
#logo-img{
	background:url('https://media.entertainmentearth.com/assets/images/97b20c898ee04c54aed1b036e0d97c27.jpg')no-repeat;
	width:150px;
	height:150px;
	

}
#asq{
	background-image:  url('https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/08/Maine-Coon_02.jpg?bust=1538150418&width=2000');


width: 100vw;
height: 100vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
} 


nav
{
overflow: auto;
}